.home {
  font-family: "Segoe UI";
  font-weight: normal;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  margin-bottom: 2rem;
}
.header img {
  width: 64px;
  object-fit: contain;
}
@media (max-width: 768px) {
  .header img {
    width: 32px;
  }
}

.header h1 {
  font-family: sans-serif;
  font-size: 2rem;
}
.header h1 small {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: lightgray;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }
  .header h1 small {
    display: block;
  }
}

.device {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  max-width: 760px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(131, 131, 131, 0.2);
}
@media (max-width: 1024px) {
  .device {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .device {
    width: 90%;
  }
}

.chat {
  position: relative;
  flex: 1;
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* width */
.chat::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #00000066;
}

.chat__error,
.chat__name {
  font-size: 0.8rem;
  margin: 8px 0;
  display: block;
}
.chat__error {
  color: rgb(201, 79, 79);
}
.chat__name {
  color: #b6b6b6;
}

.chat__input {
  padding: 15px 10px;
}
.chat__input form {
  border: 1px solid #c9c9c9;
  width: 70%;
  border-radius: 15px;
  margin: auto;
  padding-left: 15px;
  display: table;
}
.chat__input input {
  border: 1px solid red;
  outline: none;
  border: unset;
  display: table-cell;
  width: 90%;
}
.chat__input button {
  outline: none;
  padding: 10px 5px;
  color: #c9c9c9;
  border: unset;
  background-color: unset;
  display: table-cell;
  width: 10%;
}
