* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  height: 100%;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

#root {
  height: 100%;
}
