.message {
  text-align: left;
  margin: 10px 0;
  width: fit-content;
}
.message.self {
  margin-left: auto;
  text-align: right;
}
.message.self .message-text {
  background-color: #408fec;
  color: #ffffff;
  text-align: right;
  border-radius: 15px 0 15px 15px;
}

.message .message-info {
  font-size: 0.6rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}
.message .message-info .message-time svg {
  margin: 0 5px;
}

.message .message-text {
  padding: 8px 15px;
  border-radius: 0 15px 15px 15px;
  background-color: rgb(233, 228, 228);
}
